rifNodeServices/lib/geoDataLoader.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="geoDataLoader">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="xmlFileName">
		  <xs:annotation>
            <xs:documentation>XML file name. Derived from the geographyName if set; uuidV1 if not</xs:documentation>
          </xs:annotation>
		</xs:element>
        <xs:element type="xs:string" name="xmlFileDir">
		  <xs:annotation>
            <xs:documentation>Directory the XML file was created in</xs:documentation>
          </xs:annotation>
		</xs:element>
        <xs:element type="xs:string" name="uuidV1">
		  <xs:annotation>
            <xs:documentation>V1 UUID. Used as geoDataLoader session key</xs:documentation>
          </xs:annotation>
		</xs:element>
        <xs:element type="xs:string" name="geographyName">
		  <xs:annotation>
            <xs:documentation>User entered name of shapefile set. Will become database column GEODATALOADER_GEOGRAPHIES.GEOGRAPHY_NAME</xs:documentation>
          </xs:annotation>
		</xs:element>
        <xs:element type="xs:string" name="geographyDescription">
		  <xs:annotation>
            <xs:documentation>User entered description of shapefile set. Will become database column GEODATALOADER_GEOGRAPHIES.GEOGRAPHY_DESCRIPTION</xs:documentation>
          </xs:annotation>
		</xs:element>
        <xs:element name="shapeFileList">
		  <xs:annotation>
            <xs:documentation>Set of shapefiles selected by user</xs:documentation>
          </xs:annotation>		
          <xs:complexType>
            <xs:sequence>
              <xs:element name="shapeFiles" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="primaryKey">
		              <xs:annotation>
                        <xs:documentation>Primary key; defaulted to id; auto added if not present</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>				
                    <xs:element type="xs:short" name="areas">
		              <xs:annotation>
                        <xs:documentation>Number of polygonal areas (records) in shape file</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>				
                    <xs:element type="xs:int" name="points">
		              <xs:annotation>
                        <xs:documentation>Number of points in a shape file</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>				
                    <xs:element name="dbfFieldList">
		              <xs:annotation>
                        <xs:documentation>List of fields in shape file DBF file</xs:documentation>
                      </xs:annotation>	
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="dbfFields" maxOccurs="unbounded" minOccurs="1">
		                  <xs:annotation>
                            <xs:documentation>DBF file field name</xs:documentation>
                          </xs:annotation>	
	    	            </xs:element>	
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="uniqueKey">
		              <xs:annotation>
                        <xs:documentation>DBF field name containing the unique code for each area. This is usually a code and is not guaranteed unique 
						until the geomtric data is converted into multipolygons</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:string" name="uniqueName">
		              <xs:annotation>
                        <xs:documentation>DBF field name containing the unique name for each area. This is usually a name and is not guaranteed unique</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:byte" name="geolevelId" maxOccurs="unbounded" minOccurs="1">
		              <xs:annotation>
                        <xs:documentation>Geoelevel ID; lowest resolution: 1. Automatically generated</xs:documentation>
                      </xs:annotation>	
	                </xs:element>	
                    <xs:element type="xs:string" name="geolevelName">
		              <xs:annotation>
                        <xs:documentation>Name of geolevel; entered by user</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:string" name="geolevelDescription">
		              <xs:annotation>
                        <xs:documentation>Description of geolevel; entered by user</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:string" name="shapeFileName">
          		      <xs:annotation>
                        <xs:documentation>Shape file name</xs:documentation>
                      </xs:annotation>
          		    </xs:element>
                    <xs:element type="xs:string" name="shapeFileDir">
	          	      <xs:annotation>
                        <xs:documentation>Directory the shape file was created in</xs:documentation>
                      </xs:annotation>
	             	</xs:element>
                    <xs:element type="xs:string" name="lookupTable">
		              <xs:annotation>
                        <xs:documentation>Name of the lookup table. RIF specific; optional, automatically set to &lt;geographyName&gt;_LOOKUP</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:string" name="lookupTableDescriptionColumn">
		              <xs:annotation>
                        <xs:documentation>Name of the lookup table description. RIF specific; optional, automatically set to &lt;geographyName&gt;_LOOKUP.DESCRIPTION</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:string" name="lookupTableData">
		              <xs:annotation>
                        <xs:documentation>Lookup table data. RIF specific</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:string" name="shapeFileTable">
		              <xs:annotation>
                        <xs:documentation>Name of the shapefile table, automatically set to &lt;geographyName&gt;</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:string" name="shapeFileAreaIdColumn">
		              <xs:annotation>
                        <xs:documentation>DBF field name containing the unique code for each area. This is usually a code and is not guaranteed unique 
						until the geomtric data is converted into multipolygons</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                    <xs:element type="xs:string" name="shapeFileDescriptionColumn">
		              <xs:annotation>
                        <xs:documentation>DBF field name containing the unique name for each area. This is usually a name and is not guaranteed unique</xs:documentation>
                      </xs:annotation>	
	    	        </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="projection">
		  <xs:annotation>
            <xs:documentation>Projection information derived from shapefiles</xs:documentation>
          </xs:annotation>		
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="projectionName">
			    <xs:annotation>
				  <xs:documentation>Name of the projection, derived from the projection file</xs:documentation>
			    </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="proj4">
			    <xs:annotation>
				  <xs:documentation>Cartogrpahic projection transformation information, derived from the projection file. Used by Leaflet.</xs:documentation>
			    </xs:annotation>
              </xs:element>
              <xs:element type="xs:short" name="srid">
			    <xs:annotation>
				  <xs:documentation>A Spatial Reference System Identifier (SRID) is a unique value used to unambiguously identify projected, 
				  unprojected, and local spatial coordinate system definitions. Usually derived from the projection file, but may need to be entered by the user. 
				  Will become database column GEODATALOADER_GEOGRAPHIES.SRID. Required by geosptial database geometric datatypes</xs:documentation>
			    </xs:annotation>
              </xs:element>
              <xs:element name="boundingBox">
			    <xs:annotation>
				  <xs:documentation>Bounding box co-ordinates, derived from the shapefile. Used to convert to SRID 4326 (WGS 84) required for Leaflet</xs:documentation>
			    </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="xmin"/>
                    <xs:element type="xs:float" name="ymin"/>
                    <xs:element type="xs:float" name="xmax"/>
                    <xs:element type="xs:float" name="ymax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="simplicationList">
		  <xs:annotation>
            <xs:documentation>Zoomlevel simplifications applies to shapefiles</xs:documentation>
          </xs:annotation>				
          <xs:complexType>
            <xs:sequence>
              <xs:element name="simplification" maxOccurs="unbounded" minOccurs="0">
			    <xs:annotation>
				  <xs:documentation>Container for simplification; defaults: 6, 8, 11</xs:documentation>
			    </xs:annotation>				  
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="zoomLevel" maxOccurs="19" minOccurs="0">
			        <xs:annotation>
				      <xs:documentation>Map zoomlevel</xs:documentation>
			        </xs:annotation>					
                    </xs:element>
                    <xs:element type="xs:string" name="points">
			        <xs:annotation>
				      <xs:documentation>To be defined; may bvecome an average proproprtion of points retained</xs:documentation>
			        </xs:annotation>					
                    </xs:element>
                    <xs:element type="xs:string" name="simplifyPrecision">
			        <xs:annotation>
				      <xs:documentation>Precision threshold for Visvalingam simplification</xs:documentation>
			        </xs:annotation>					
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="defaultStudyArea">
		  <xs:annotation>
            <xs:documentation>Default study area. RIF specific; optional, automatically set to the highest resolution shapefile. Will become database column GEODATALOADER_GEOGRAPHIES.DEFAULT_STUDY_AREA</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="defaultComparisonArea">
		  <xs:annotation>
            <xs:documentation>Default compariason area. RIF specific; optional, automatically set to the second lowest resolution shapefile. Will become database column GEODATALOADER_GEOGRAPHIES.DEFAULT_CONMPARISON_AREA</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="hierarchyTableName">
		  <xs:annotation>
            <xs:documentation>Name of hierarchy table. RIF specific; optional, automatically set to &lt;geographyName&gt;_HIERARCHY</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="hierarchyTableData">
		  <xs:annotation>
            <xs:documentation>Data for hirarchy table</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>